.menu_actions {
    background-color: antiquewhite;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    border-right: 1px solid;
    width: 17vmin;
    animation: anim2 0.5s 1 linear;
    transform: translateX(-90%);
}

@keyframes anim {
    from {
        transform: translateX(-90%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes anim2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-90%);
    }
}

.menu_actions:hover {
    animation: anim 0.5s 1 linear;
    transform: none;
}

.menu_actions>* {
    margin-bottom: 2vmin;
    padding: 1em 0;
}

.book {
    background-image: url("/bibliothèque/images/categories/book.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.film {
    background-image: url("/bibliothèque/images/categories/film.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.serie {
    background-image: url("/bibliothèque/images/categories/series.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: lightblue;
}

input[type=submit] {
    border: none;
    background: transparent;
}

input[type=submit]:hover {
    cursor: pointer;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vmin;
    background-color: transparent;
    background-image: url("/bibliothèque/images/logo/action.png");
    border-radius: 10px 10px 0 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.action_créa {
    background-image: url("/bibliothèque/images/logo/action_création.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
    height: 90%;
}

.action_edit {
    background-image: url("/bibliothèque/images/logo/action_édition.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
    height: 90%;
}

.info_label {
    position: relative;
    border: 1px solid black;
    height: 5em;
    margin: auto;
    width: 5em;
}

.info_label>form {
    height: 100%;
    width: 100%;
}

.info_label.create::after {
    content: ' ';
    background-image: url("/bibliothèque/images/logo/plus.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    background-color: black;
}

.info_label.edit::after {
    content: '\01F589';
    background-color: black;
    color: white;
}

.info_label::after {
    position: absolute;
    bottom: 100%;
    right: 0;
    border: 1px solid black;
    font-weight: bold;
    transform: translateY(50%);
    border-radius: 50%;
    text-align: center;
    padding: 0.1em;
    display: block;
}

.action:hover .infoBulles {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: url("/bibliothèque/images/logo/bulle.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 95%;
    padding: 0.5em 2em;
    min-width: 20em;
    min-height: 95%;
    margin: auto;
}

.infoBulles {
    display: none;
}

span {
    color: red;
}
