.menu_actions {
    width: 17vmin;
    background-color: antiquewhite;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    border-right: 1px solid;
}

.menu_actions>* {
    margin-bottom: 2vmin;
    padding: 1em 0;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: lightblue;
}

input[type=submit] {
    border: none;
    background: transparent;
}

input[type=submit]:hover {
    cursor: pointer;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vmin;
    background-color: transparent;
    background-image: url("/bibliothèque/action.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.info_label {
    position: relative;
    border: 1px solid black;
    height: 5em;
    margin: auto;
    width: 5em;
}

.info_label>form {
    height: 100%;
    width: 100%;
}

.info_label::after {
    content: '+';
    position: absolute;
    bottom: 100%;
    right: 0;
    color: red;
    border: 1px solid black;
    background-color: lime;
    font-weight: bold;
    transform: translateY(50%);
    border-radius: 50%;
    text-align: center;
    padding: 0.1em;
    display: block;
}

.action:hover .infoBulles {
    /* display: inherit; */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: url("/bibliothèque/bulle.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 95%;
    padding: 0.5em 2em;
    min-width: 20em;
    min-height: 95%;
    margin: auto;
}

.infoBulles {
    display: none;
}

span {
    color: red;
}